table {
	border-collapse: collapse;
	td {
		border: 1px solid black;
		.space-view {
			padding: 10px;
		}
	}
	tr:first-child td {
		border-top: 0;
	}
	tr:last-child td {
		border-bottom: 0;
	}
	tr td:first-child {
		border-left: 0;
	}
	tr td:last-child {
		border-right: 0;
	}
}