<!-- Game Status -->
<% if (waiting) { %>
	<h2>Waiting for Player to Join</h2>
<% } else if (gameOver) { %>
	<h2>Game Over</h2>
<% } else if (yourTurn) { %>
	<h2>Your Turn</h2>
<% } else { %>
	<h2><%- otherPlayerXO %>'s Turn</h2>
<% } %>

<!-- Score -->
<div id="score">
	<h2>Game Score</h2>
	<div id="x-score">
		<div id="x-score-heading">X Wins</div>
		<div class="player-score"><%- xScore %></div>
	</div>
	<div id="o-score">
		<div id="o-score-heading">O Wins</div>
		<div class="player-score"><%- oScore %></div>
	</div>
</div>